<%= form_for(@neighborhood) do |f| %>
  <% if @neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% @neighborhood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :favorite_hood %><br>
    <%= f.text_field :favorite_hood, class: "black-font-text" %>
  </div>
  <div class="field">
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name, class: "black-font-text" %>
  </div>
  <div class="field">
    <%= f.label :moving_to_city_name %><br>
    <%= f.text_field :moving_to_city_name, class: "black-font-text" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
