<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address, class: "black-font-text" %>
  </div>
  <div>
  <button type="button" class="btn btn-default"><%= f.submit %></button>

  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, class: "black-font-text" %>
  </div>
  <div>
  <button type="button" class="btn btn-default"><%= f.submit %></button>

  </div>

  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, class: "black-font-text" %>
  </div>
  <div>
  <button type="button" class="btn btn-default"><%= f.submit %></button>

  </div>
<% end %>
